body {
    margin: 0px;
    padding: 0px;
  }
  
nav {
    width: 100%;
    height: 180px;
    background-color: hwb(29 0% 0%);
    display: flex;
    justify-content: space-between;
}
  
ul {
    list-style: none;
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    padding-right: 5%;
}
#links{
    font-size:large;
    text-decoration: none;
    color: white;
}
#logo{
    width: 19.5%;
    max-height: 180px;
}
.titulo {
    text-align: center;
    font-size: xx-large;
}
.backgroundImg {
    background-image: url("../img/animalesTitulo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 70vh;
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.icons img{
    height: 50px;
    width: 40px
}
#icon{
    margin-left: 5px;
    margin-right: 5px;
    height: 35px;
}
.formButton{
    border: none;
    padding: 3px;
    text-align: right;
    font-size:large;
    position: relative;
    left: 11.7%;
    padding-bottom: 5px;
    background-color: rgba(6, 54, 185, 0.863);
    color: white;
    font-weight: bold;
}

.hidden {
    display: none;
}
/* TABLA */
table {
    border-collapse: collapse;
    width: 100%;
}
td,tr,th {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    text-transform: uppercase;
}
.rowStyle{
    background-color:hwb(35 25% 0%);
  }
.headerStyle{
    background-color: hwb(29 0% 0%);
}
#divTabla{
    display: flex;
    justify-content: center;
    margin: 2% 0%;
}

input {
    background-color: #f2f2f3;
    width: 97%;
    height: 30px;
    border-radius: 7px;
    border: 1px solid #8a8a8a;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size:medium;
}
fieldset {
    margin: 30px 150px;
    background-color: hwb(35 25% 0% / 0.801);
    font-size: large;
}

.inputError{
    border: 1px solid red;
    box-shadow: 0 0 5px red;
}
.inputOk{
    border: 1px solid greenyellow;
    box-shadow: 0 0 5px greenyellow;
}
.danger{
    color: red;
    font-weight: bold;
}
small{
    display: block;
}
footer{
    width: 100%;
    height: 90px;
    background-color: hwb(29 0% 0%);
    display: flex;
    justify-content: space-around;
}
.linksfooter{
    display: flex;
}
footer > p{
    text-align: center;
    padding-top: 20px;
}

.other-pages {
    margin-left: 2%;
}
.other-pages img {
    margin-left: 2%;
    width: 100%;
    height: 100%;
}


#btnCancelar {
    background-color: rgb(255, 115, 0);
    color: white;
}
  
#btnActualizar {
    background-color: #2da30a;
    color: white;
}
  
#btnEliminar {
    background-color: #a30a0a;
    color: white;
}
#spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkMainPage{
    text-align: center;
}
.linkMainPage a{
    font-size: x-large;
    font-weight: bold;
    color:  rgb(255, 115, 0);
    justify-content: center;    
    text-decoration: none;
}
#filtros{
    border-radius: 5px;
    border-color: black;
    background-color:hwb(35 25% 0% / 0.801);
}
#filtros label{
    font-weight: bold;
    font-size: large;
}
#filtros button{
    background-color: rgb(255, 115, 0);
}

@media screen and (max-width: 760px) {
    .icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    fieldset {
        margin: 0px 0px;
        background-color: hwb(35 25% 0% / 0.801);
    }
}
@media screen and (max-width: 993px){
    ul{
        margin-top: -1%;
    }
    #logo{
        margin-top: -5%;
    }
}


/*Pag Principal*/
#main{
    background-image: url("../img/imagenPrinpalPage.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
} 
#price{
    color: #2ea101;
    font-size: 20px;
    font-weight:bold ;
}
#articles{
    display: inline;
}

.subtitle{
    color: rgb(255, 255, 255);
    font-size: 25px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
}
  
.article{
    background-color: #c4c4c4;
    width: 30%;
    height: 25%;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.article button{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    left: 0%;
}
.article p{
    font-size: large;
}

.iconsPagPrincipal{
    display: inline;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 50px;
    width: 40px
}
.volverAtras{
    padding-top: 20px;
    text-align: center;
}
.volverAtras a{
    font-size: xx-large;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}